PROJECT_DIR=$HOME/reference-sample
INIT_ILCSOFT=/cvmfs/ilc.desy.de/sw/x86_64_gcc49_sl6/v02-00-02/init_ilcsoft.sh

marlin_build() {
    OLD_DIR=$PWD
    cd $PROJECT_DIR
    unset MARLIN_DLL
    source $INIT_ILCSOFT

    mkdir -p build
    cd build
    cmake -C $ILCSOFT/ILCSoft.cmake ..
    make install

    cd ${OLD_DIR}
}

marlin_run() {
    OLD_DIR=$PWD
    cd $PROJECT_DIR
    unset MARLIN_DLL
    source $INIT_ILCSOFT
    export MARLIN_DLL=$MARLIN_DLL${PROJECT_DIR}/lib/libreference-sample.so:
    cd build; make install; cd ..
    python3 $PROJECT_DIR/steering/pytest.py
    #Marlin ./steering.xml > log.txt 2>&1
    cd ${OLD_DIR}
}

marlin_dst_viewer() {
    # First event display window.
    unset MARLIN_DLL
    source $INIT_ILCSOFT
    ## Replace the iLCSoft CEDViewer lib with our custom extension.
    #export MARLIN_DLL=`echo $MARLIN_DLL | tr ":" "\n" | grep -v "CEDViewer" | tr "\n" ":"| sed 's/:$//'`
    #export MARLIN_DLL=/home/kunath/scratch/Jonas-CEDViewer/lib/libCEDViewer.so:$MARLIN_DLL
    # More extreme approach: Link only the necessar libraries.
    export MARLIN_DLL=/home/kunath/scratch/Jonas-CEDViewer/lib/libCEDViewer.so:/cvmfs/ilc.desy.de/sw/x86_64_gcc49_sl6/v02-00-02/MarlinDD4hep/v00-06/lib/libMarlinDD4hep.so

    # Who knows why: Last line in the init_ilcsoft.sh script sets an environment
    # variable that is meant to solve issues in SL6. For me, this variable leads
    # to an GLXBadContext error on SL6. Thus it will be unset.
    unset LIBGL_ALWAYS_INDIRECT
    glced &
    # Then running marlin and feed it with events.
    Marlin $PROJECT_DIR/steering/examples/DDDSTViewer.xml
    #Marlin $PROJECT_DIR/steering/examples/MarlinStdRecoViewerDST.xml \
    # --global.GearXMLFile=gear_ILD_l5_o1_v02.xml \
    # --global.LCIOInputFiles=your_file_DST.slcio
}

marlin_make_dst() {
    OLD_DIR=$PWD
    cd /home/kunath/scratch/Jonas-CEDViewer
    unset MARLIN_DLL
    source $INIT_ILCSOFT

    mkdir -p build
    cd build
    cmake -C $ILCSOFT/ILCSoft.cmake ..
    make install

    cd ${OLD_DIR}
}

if [[  $1 == "build" ]] ; then
    marlin_build
fi
if [[  $1 == "run" ]] ; then
    marlin_run
fi
if [[  $1 == "dst_viewer" ]] ; then
    marlin_dst_viewer
fi
if [[  $1 == "make_dst" ]] ; then
    marlin_make_dst
fi

sl6_build() {
    singularity exec -B /cvmfs $PROJECT_DIR/singularity/proj.img /bin/sh $PROJECT_DIR/.aliases build
}
sl6_run() {
    singularity exec -B /cvmfs -B ${PROJECT_DIR}  $PROJECT_DIR/singularity/proj.img /bin/sh $PROJECT_DIR/.aliases run
}
sl6_dst() {
    singularity exec -B /cvmfs $PROJECT_DIR/singularity/proj.img /bin/sh $PROJECT_DIR/.aliases dst_viewer
}
sl6_make_dst() {
    singularity exec -B /cvmfs $PROJECT_DIR/singularity/proj.img /bin/sh $PROJECT_DIR/.aliases make_dst
}

sl6() {
    ln -s $INIT_ILCSOFT INIT_ILCSOFT
    singularity shell -B /cvmfs $PROJECT_DIR/singularity/proj.img
}

